.header {
  background-color: var(--color4);
  height: 13vh;
  margin: 2% 0;
  width: 100%;
}

.header * {
  display: inline-block;
}

.header-nav {
  margin: 2%;
  width: 36%;

}

.header-nav * {
  color: black;
  display: inline-block;
  margin: 2%;
  text-decoration: none;
}

.header-nav *:hover {
  color: white;
}

.header-search {
  display: flex;
  float: right;
  margin: 2%;
  text-align: right;
}

.header-search * {
  height: 36%;
}

.header-search button {
  background-color: var(--color3);
  border: none;
}

.current-category {
  color: white;
}

@media only screen and (max-width: 682px) {
  .header-search,
  .header-nav {
    display: block;
    text-align: center;
  }

  .header-nav {
    margin: 0 auto;
    width: 60%;
  }

  .header-nav * {
    display: inline;
  }

  .nav-spacing {
    margin: 0 10%;
  }

  .header-search {
    display: flex;
    float: none;
    justify-content: center;
    margin: 2% auto;
    width: 100%;
  }
}

@media only screen and (max-width: 495px) {

  .header {
    height: 24vh;
  }
  
  .header-nav {
    padding-top: 2%;
  }

  .header-nav * {
    display: block;
  }

  .header-search * {
    height: auto;
  }

}